<p id="notice"><%= notice %></p>

<h1>書籍レンタル</h1>

<h2>レンタル可能な書籍一覧</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= button_to '借りる', rental_book_path(book) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<hr>

<p><%= link_to '戻る', current_user %></p>